.container {
  display: flex;
  margin: 0 auto;
  padding: 0;
  width: 665px;
}

// .............left-panel.............

.left-panel {
  position: relative;
  width: 138px;
  height: 480px;
  background-color: #5a61ed;

  h2 {
    position: absolute;
    display: block;
    margin: 0;
    padding: 0;
    transform: translate(20px, -80px) rotate(-90deg);
    width: 300px;
    height: 100px;
    left: -50px;
    bottom: 42px;
    font-family: 'PT Sans', sans-serif;
    font-weight: normal;
    font-size: 49px;
    letter-spacing: 0.5px;
    font-style: normal;
    color: #ffffff;
    z-index: 10;
  }
}

// ...............right-panel..............

.right-panel {
  position: relative;
  width: 528px;
  padding: 0 20px;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.right-panel__header {
  margin: 38px 0 0 0;
  font-family: 'Work Sans', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 26px;
  color: #111111;
}

.right-panel__desc {
  margin: 2px 0 0 0;
  font-family: 'Work Sans', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;

  color: #111111;
}

.form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
}

.form__element {
  width: 235px;
  margin: 14px 0 0 0;

  label {
    font-family: 'Work Sans', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 14px;
    color: #7c7c7c;
  }

  input {
    width: 100%;
  }
}

.form__punkt,
.form__punkt select {
  outline: none;
  border: none;
  border-bottom: 1px solid #f2f2f2;
  margin: 8px 0 0 0;
}

// ................Nationality.........

.form__element-nationality {
  display: block;
  margin: 2px 0 0 0;
}

.form__punkt-nationality {
  width: 100%;
}

.element-nationality--arrow {
  position: relative;
  height: 100%;

  &::after {
    content: '';
    display: inline-block;
    position: absolute;
    width: 8px;
    height: 4px;
    background-image: url(../images/arrow.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    bottom: 10px;
    right: 0;
    z-index: 10;
  }
}

// ................Mail.........

.form__element-mail {
  display: block;
  margin: 0 0 0 0;
}

.form__element--arrow {
  position: relative;
}

.form__element-mail--arrow {
  position: absolute;
  width: 11px;
  height: 8px;
  background-image: url(../images/check-mark.svg);
  background-position: center;
  top: 24px;
  right: 2px;
  opacity: 0;
}

.form--email:valid + .form__element-mail--arrow {
  opacity: 1;
}

.form--email:invalid:focus {
  color: #ff2222;
  border-color: #ff2222;
}
// ................Date of Birth .........

.form__date-header {
  display: block;
}

.form__punkt-day {
  width: 56px;

  select {
    width: 100%;
    padding: 0 0 0 5px;
  }
}

.form__punkt-month {
  width: 90px;
}

.form__punkt-year {
  width: 68px;
}

.form__punkt-day,
.form__punkt-month,
.form__punkt-year {
  position: relative;
  display: inline-block;
  margin: 0;
  padding: 0 0 0 5px;
  border: none;

  &::after {
    content: '';
    display: inline-block;
    position: absolute;
    width: 8px;
    height: 4px;
    background-image: url(../images/arrow.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    bottom: 10px;
    right: 0;
    z-index: 10;
  }
}

// ................Gender..............

.form__gender {
  display: flex;
  flex-direction: column;
}

.form__gender-element {
  display: flex;
  justify-content: left;
  margin: -4px;
}

.form__gender--female,
.form__gender--male {
  margin: 10px 28px 0 0;
}

input[type='radio'] {
  -webkit-appearance: none;
  width: 12px;
  height: 12px;
  border: 1px solid #5a61ed;
  border-radius: 50%;
}

.active,
.btn:active {
  background-image: url(../images/radio.svg);
  background-repeat: no-repeat;
  background-position: center;
}

// ............... have account...........

.account {
  position: absolute;
  bottom: 44px;
  left: 20px;
  font-family: 'Work Sans', sans-serif;
  font-weight: normal;
  font-size: 13px;
  font-style: normal;
  color: #000000;
}

.btn-submit {
  position: absolute;
  bottom: 30px;
  right: 22px;
  border: none;
  background-color: #5a61ed;
  width: 154px;
  height: 32px;
  font-family: 'PT Sans', sans-serif;
  font-weight: normal;
  font-size: 14px;
  font-style: normal;
  color: #ffffff;
  cursor: pointer;
}

// .................Registration End..........

.registration-end {
  position: absolute;
  display: none;
  padding: 0 0 0 64px;
  width: 580px;
  height: 410px;
  background-color: #fff;
  left: 0;
  top: 0;
  z-index: 100;

  h2 {
    margin: 216px 0 0 0;
    font-family: 'Work Sans', sans-serif;
    font-weight: 600;
    font-size: 22px;
    font-style: normal;
    color: #111111;
  }

  p   {
    margin: 10px 0 0 0;
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    font-style: normal;
    color: #111111;
  }
}
